*{margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;}
    body{
        background: #080808;
        color: white;
    }
    html{
        scroll-behavior: smooth;
    }
    #header{
        width: 100%;
        height: 100vh;
        background-image: url(images/giphy.gif);
        background-size: cover;
        background-position: center;
    }
    .container{padding: 10px 10%;
    }
    nav{
        display: flex;
        align-items: center;
    justify-content: space-between;
flex-wrap: wrap;
margin-left: 50%;}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color:rgb(228, 219, 219);
    text-decoration: none;
    font-size: 18px;
}
nav ul li a::after{
    content:'';
    width:0;
    height:3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom:-6px ;
    transition:0.5s;
}
nav ul li a:hover{
    border: 2px solid rgb(168, 202, 225);
    color: white;
padding: 2px 4px;}
.header-text{
    margin-top: 20%;
    font-size: 30px;

}
.header-text h1{
    margin-top: 10%;
    font-size: 60px;
   
    
}
.header-text h1 span{color:red}

/*-----------------------------about*/

#about{padding: 80px 0;
color:#ababab;}
.row{
    display :flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    margin-left: 60px;
    margin-top: 25%;
    width:80%;
    border-radius: 50px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight:600 ;
    color:#fff;
    
    margin-top: 0px;
}
.tab-titles{display: flex;
margin: 20px 0px 40px;}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;

}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
   
}
.tab-contents ul li {
   list-style: none;
   margin: 10px 0;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
} 
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}



#servies{
    padding: 30px 0px;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size:13px ;
    font-weight:300 ;
    border-radius: 10px; 
    transition: background 0.5s, transform 0.5s ;
}
.services-list div a{
    text-decoration: none;
    color: aliceblue;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #a2506a;
    transform: translateY(-10px);
}

/*portfolio*/
#portfolio{
padding: 50px 0px;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
   }
   .work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
   }
   .work img{
width: 400px;
height: 300px;
border-radius: 10px;
display: block;
transition: transform(0.5s);
   }
   .layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0), #ff004f);
    border-radius: 10px;
    position: absolute;/* isse effect agya*/
   left: 0;
bottom: 0;
overflow: hidden;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 0 40px;
text-align: center;
font-size: 14px;
}
.layer h3{font-weight:500;
    margin-bottom: 20px;
    color: white;
}

.layer a {
    color: #ff0051d6;
    text-decoration: none;
    font-size: 10px;
    line-height: 37px;
    background-color: white;
    width: 70px;
    height: 40px;
    border-radius: 30%;
    text-align: center;
}
.work:hover img{
transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    text-align: center;
    display: block;
    margin:15px;
    color: #fff;
    
    width: fit-content;
    border: 1px solid #e5b3c3;
    border-radius: 10px;
    padding: 14px 50px;
    transition: 0.5s;
}
.btn:hover{
    background: #e5b3c3;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
margin-top: 30px;
}
.contact-left p i{
color: #e5b3c3;
margin-right: 15px;
font-size: 25px;
}
.social-icons{
    margin-top: 10px;
    padding: 0px 0px;
    display: inline-block;
}
.elfsight-app-c0c271d8-6836-41bd-ae85-9aa598c31044{
    float: left;
    padding: 0px 0px;
}
.social-icons a{
   
text-decoration: none;
font-size: 30px;
margin-right: 15px;
color: #ababab;
display:inline-block;

}
.btn2{
    text-align: center;
    display: inline-block;
    margin:10px;
    color: #fff;
    
    width: fit-content;
    border: 1px solid #e5b3c3;
    border-radius: 10px;
    
background-color: #ff004f;
    padding: 14px 50px;
    transition: 0.5s;
    text-decoration: none;
}
.btn2:hover{
    background: #e5b3c3;
}
.contact-right form{
width: 100%;

}
input[type=text],
input[type=e-mail],textarea {
   width: 100%;
   padding: 12px 20px;
   margin: 4px 0;
   box-sizing: border-box;
   color: #fff;
   background-color: #262626;
 }
 .copyright
 {
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    background: #262626;
     font-weight: 20px;
 }
 nav .fas{
    display: none;
 }
 /*------------ css for small screen*/
 @media only screen and (max-width:600px){
    #header{
        width: 70%;
        height: 70vh;
        margin-left: 5rem;
    }
.header-text{
    margin-top: 80%;
    font-size: 16px;
}
.header-text h1{
    font-size: 30px;
}
nav .fas{
    display: block;
    font-size: 25px;
}
nav ul{
    background: #ff004f;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
}
nav ul li{
    display: block;
    margin: 25px;
    visibility: hidden;
}
 
 nav ul .fas{
    position: absolute;
    top: 25px;
    cursor: pointer;
 }

 nav ul.fas{
    position:absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
 }
 /* .sub-title{
    font-size: 40px;
 } */
 .about-col-1,.about-col-2{
    flex-basis: 100%;
    margin-left: 10%;
    margin-right: 10%;
 }
 .about-col-1{
    margin-bottom: 30px;
 }
 .about-col-2{
    font-size: 14px;
 }
 .tab-links{
    font-size: 16px;
    margin-right: 20px;
 }
.contact-left,.contact-right{
    flex-basis: 100%;
}

}  
#msg{
    color: #5294b7;
    margin-top: -40px;
    margin-left:50% ;
    display: block;
}

